body{
    margin: 0;
    padding: 0;
}
.nav1{
     background-color: #D3C5C5;
     height: 65px;
     display: flex;
}
.logo img{
    width: 130px;
    height: 50px;
    padding-left: 10px;
    padding-top: 13px;
}
.menu{
    display: flex;
    padding-left: 40px;
    padding-top: 7px;
    color: black;
    width: 1000px;
    justify-content: space-evenly;
}
.acc{
    display: flex;
    margin-top: 7px;
    margin-left: 200px;
}
.acc img{
    width: 30px;
    height:20px;
    padding-left: 15px;
    padding-top: 13px;
}
.nav2{
    display: flex;
    background-color: white;
    height: 65px;
}
.search{
    width: 680px;
    height: 40px;
    background-color: #D3C5C5;
    margin-left: 300px;
    margin-top: 12px;
    display: flex;
}
.search p{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}
.search img{
    width: 25px;
    height: 20px;
    margin-left: 580px;
    margin-top: 10px;
}
.lst img{
    width: 35px;
    height: 30px;

}
#lst1{
   margin-left: 450px;
   margin-top: 20px;
}
.fav button{
    width: 495px;
    height: 80px;
    background-color: #E06363;
    font-size: 55px;
    font-weight: bold italic;
    border: none;
    margin-top: 20px;
    margin-left: 380px; 
}
.fav-pic{
    margin-left: -165px;
    margin-top: 10px;
    justify-content: space-evenly;
    gap: 20px;

}
.fav-pic img{
    justify-content: space-between;
    margin-left: 250px;
    margin-top: 10px;
    
}
.fav-pic p{
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 10px;
}
.fav2-pic{
    margin-left: -250px;
    margin-top: 10px;
    justify-content: space-evenly;

}
.fav2-pic img{
    justify-content: space-evenly;
    margin-left: 300px;
    margin-top: 10px;
}
.fav2-pic p{
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 10px;
}
.fav-p{
    display: flex;
    font-size: 23px;
    margin-left: -245px;
}
.fav2-p{
    display: flex;
    font-size: 23px;
    margin-left: -200px;
}
#fav2-p3{
    margin-left: 100px;
}



.foot *{
    margin:0;
}
.foot{
    height: 300px;
    background-color: #D3C5C5;
    display: flex;
}
.foot1 p{
    font-size:30px;
}
.foot2 p{
    font-size:30px;
    margin-top:30px;
}
.foot3 p{
    font-size:30px;
    margin-top:35px;
}
.foot3 img{
    width: 196px;
    height: 49px;
    margin-left: 200px;
}