body{
    margin: 0;
    padding: 0;
}
.nav1{
     background-color: #D3C5C5;
     height: 65px;
     display: flex;
}
.logo img{
    width: 130px;
    height: 50px;
    padding-left: 10px;
    padding-top: 13px;
}
.menu{
    display: flex;
    padding-left: 40px;
    padding-top: 7px;
    color: black;
    width: 1000px;
    justify-content: space-evenly;
}
.acc{
    display: flex;
    margin-top: 7px;
    margin-left: 200px;
}
.acc img{
    width: 30px;
    height:20px;
    padding-left: 15px;
    padding-top: 13px;
}
.nav2{
    display: flex;
    background-color: white;
    height: 65px;
}
.search{
    width: 680px;
    height: 40px;
    background-color: #D3C5C5;
    margin-left: 300px;
    margin-top: 12px;
    display: flex;
}
.search p{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}
.search img{
    width: 25px;
    height: 20px;
    margin-left: 580px;
    margin-top: 10px;
}
.lst img{
    width: 35px;
    height: 30px;

}
#lst1{
   margin-left: 450px;
   margin-top: 20px;
}
.cart button{
    margin-top: 10px;
    margin-left: 450px;
    background-color: #E06363;
    font-size: 48px;
    font-weight: bold italic;
    color: white;
    width: 340px;
    height: 85px;
}
.order1{
    display: flex;
    margin-top: 20px;
}
.order1 img{
    margin-top: 90px;
    margin-left: 40px;
    width: 250px;
    height: 285px;
}
.order1 p{
    margin-top: 20px;
    font-size: 40px;
}
.order1 p img{
    margin-top: 5px;
    margin-left: 1px;
    width: 237px;
    height: 40px;
}
.order1 button{
    display: flex;
    margin-top: 190px;
    margin-left: -78px;
    background-color:#D3C5C5;
    font-size: 48px;
    width: 375px;
    height: 60px;
}
.order1 button img{
    margin-top: -2px;
    height :60px;
}

.order2{
    display: flex;
    margin-top: 10px;
}
.order2 img{
    margin-top: 70px;
    margin-left: 40px;
    width: 285px;
    height: 330px;
}
.oder2 p{
    margin-top: 20px;
    font-size: 40px;
}
.order2 p img{
    margin-top: 5px;
    margin-left: 1px;
    width: 237px;
    height: 40px;
}
.order2 button{
    display: flex;
    margin-top: -155px;
    margin-left: 740px;
    background-color:#D3C5C5;
    font-size: 48px;
    width: 375px;
    height: 60px;
}
.order2 button img{
    margin-top: -2px;
    height :60px;
}
.placeholder button{
    margin-left: 450px;
    margin-bottom: 20px;
    background-color: #E06363;
    font-size: 43px;
    font-weight: bold italic;
    color: white;
    width: 340px;
    height: 85px;

}
.foot *{
    margin:0;
}
.foot{
    height: 300px;
    background-color: #D3C5C5;
    display: flex;
}
.foot1 p{
    font-size:30px;
}
.foot2 p{
    font-size:30px;
    margin-top:30px;
}
.foot3 p{
    font-size:30px;
    margin-top:35px;
}
.foot3 img{
    width: 196px;
    height: 49px;
    margin-left: 200px;
}