body{
    margin: 0;
    padding: 0;
}
.nav1{
     background-color: #D3C5C5;
     height: 65px;
     display: flex;
}
.logo img{
    width: 130px;
    height: 50px;
    padding-left: 10px;
    padding-top: 13px;
}
.menu{
    display: flex;
    padding-left: 40px;
    padding-top: 7px;
    color: black;
    width: 1000px;
    justify-content: space-evenly;
}
.acc{
    display: flex;
    margin-top: 7px;
    margin-left: 200px;
}
.acc img{
    width: 30px;
    height:20px;
    padding-left: 15px;
    padding-top: 13px;
}
.nav2{
    display: flex;
    background-color: white;
    height: 65px;
}
.search{
    width: 680px;
    height: 40px;
    background-color: #D3C5C5;
    margin-left: 300px;
    margin-top: 12px;
    display: flex;
}
.search p{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}
.search img{
    width: 25px;
    height: 20px;
    margin-left: 580px;
    margin-top: 10px;
}
.lst img{
    width: 35px;
    height: 30px;

}
#lst1{
   margin-left: 450px;
   margin-top: 20px;
}
.offer{
    display: flex;
    margin-top: 15px;
    gap: 40px;
}
.off1 p{
    font-size: 18px;
    margin-left: 10px;
}
.off1 img{
    width: 12px;
    height: 10px;
}
.off2{
    display: flex;
}
.off2 img{
    display: flex;
    justify-content: space-between;
    margin-left: 205px;
    width: 140px;
    height: 135px;
}
.off3{
    margin-top: 111px;
    margin-left: -1005px;
    font-size: 44px;
}
.off3 h1{
    color: #C52F2F;
}
.off4{
    margin-top: 200px;
    margin-left: -440px;
}
.off4-pic{
    display: flex;
    margin-left: -335px;
}
.off4-pic img{
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    margin-left: 230px;
    width: 210px;
    height: 220px;
}
.off4-p{
    display: flex;
    font-size: 15px;
    margin-top: -25px;
    margin-left: -290px;
}
.off4-p p{
    margin-top: 10px;
    margin-left: 115px;
    justify-content: space-evenly;
}
#off4-p2{
    margin-left: 65px;
}
#off4-p3{
    margin-left: 92px;
}
.page img{
    margin-left: 510px;
}

.foot *{
    margin:0;
}
.foot{
    height: 300px;
    background-color: #D3C5C5;
    display: flex;
}
.foot1 p{
    font-size:30px;
}
.foot2 p{
    font-size:30px;
    margin-top:30px;
}
.foot3 p{
    font-size:30px;
    margin-top:35px;
}
.foot3 img{
    width: 196px;
    height: 49px;
    margin-left: 200px;
}